<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_sukrainvoice})}|">Show SukraInvoice - Sukra application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${sukraInvoice}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="sukrainvoice-sukrano-field" data-z="e907d5e">
            	      <strong data-th-text="#{label_sukrainvoice_sukrano}">sukraNo</strong>
                    <span data-th-text="*{{sukraNo}}">sukraNoValue</span>
         	        </li>
                  <li id="sukrainvoice-invoicedate-field" data-z="a874999e">
            	      <strong data-th-text="#{label_sukrainvoice_invoicedate}">invoiceDate</strong>
                    <span data-th-text="*{{invoiceDate}}">invoiceDateValue</span>
         	        </li>
                  <li id="sukrainvoice-paidto-field" data-z="6e114fc0">
            	      <strong data-th-text="#{label_sukrainvoice_paidto}">paidTo</strong>
                    <span data-th-text="*{{paidTo}}">paidToValue</span>
         	        </li>
                  <li id="sukrainvoice-purposeof-field" data-z="f61aba1e">
            	      <strong data-th-text="#{label_sukrainvoice_purposeof}">purposeOf</strong>
                    <span data-th-text="*{{purposeOf}}">purposeOfValue</span>
         	        </li>
                  <li id="sukrainvoice-sumofrupees-field" data-z="278dec1e">
            	      <strong data-th-text="#{label_sukrainvoice_sumofrupees}">sumOfRupees</strong>
                    <span data-th-text="*{{sumOfRupees}}">sumOfRupeesValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
